.__admin-dashboard-flex{
    display: flex;
}

.__info-tables-search{
    margin-left: 15%;
    margin-right: 15%;
    @media(max-width: 769px){
        margin-left: 2%;
        margin-right: 0%;
    }
}

.container-search{
    padding: 5px;
    
}

.input-search{
    padding: 20px;
}


