.__admin-dashboard-flex{
    display: flex;
}

.__info-tables-samples{
    margin-left: 30%;
    @media(max-width: 769px){
        margin-left: 0%;
    }
}
.container-samples{
    padding: 20px;
    

}


.samplesDisplay{
    //
}