

//Colors

$black: #232527;
$red: #E76450;
$yellow:#FFC100;
$yellow2:#977409;
$green:#69BC25;
$pruple:#8A5DCB;
$blue-strong:#408CFC;
$blue:#94C9FB;
$gray:#EBEBEB;

//Fonts

$roboto:'Roboto'sans-serif;
